body.vh-100.container-fluid {
    padding: 0px;
}

#navbar-logo {
    width: 40px;
    height: 40px;
    margin: 8px 0px;
}

#main-nav {
    justify-content: space-between;
    border-right: 1px solid black;
    height: 100%;
    padding: 8px 16px;
}

#main-nav .nav-link {
    padding: 8px 0px;
    color: black;
    display: flex;
    align-items: center;
    font-size: 150%;
}

#main-nav span {
    padding-right: 4px;
}