main {
    display: grid;
    grid-template-rows: 120px 1fr;
    margin: 16px 20%;
}

#stories {
    display: flex;
    flex-direction: row;
}

.individual-story {
    height: 84px;
    width: 64px;
    margin: 18px 5px;
}

.stories-profile-pic {
    height: 56px;
    width: 56px;
    margin: 0px 3px;
    border: 2px solid purple;
}

.stories-username {
    margin: 5px 0px 0px;
    font-size: 10pt;
}

#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-post {
    width: 450px;
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
}

.feed-profile-pic {
    height: 32px;
    width: 32px;
}

.individual-post-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
}

.individual-post-username p {
    padding-left: 10px;
    margin: 0;
    font-size: 90%;
}

.image-post {
    width: 100%;
}

.post-num-likes, .post-num-comments, .time-since-post {
    margin: 0;
}

.post-num-comments, .time-since-post {
    color: grey;
    font-size: 90%;
}

.post-num-likes {
    font-size: 90%;
}

.post-description {
    margin: 10px 0px;
}

.add-comment {
    margin: 10px 0px;
    border: none;
    outline: none;
    font-size: 100%;
}