* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 25%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar li {
    margin-top: 15px;
    margin-bottom: 15px;
}